option_settings:
  aws:elasticbeanstalk:application:environment:
    SERVER_PORT: 5000
    SPRING_PROFILES_ACTIVE: prod
    
  aws:elasticbeanstalk:container:java:
    Xmx: 1024m
    Xms: 512m
    
  aws:elasticbeanstalk:environment:process:default:
    HealthCheckPath: /actuator/health
    HealthCheckTimeout: 10
    HealthCheckInterval: 30
    
  aws:autoscaling:asg:
    MinSize: 1
    MaxSize: 4
    
  aws:autoscaling:launchconfiguration:
    InstanceType: t3.small
    RootVolumeSize: 20
    
  aws:elasticbeanstalk:environment:
    EnvironmentType: LoadBalanced
    LoadBalancerType: application

commands:
  01_install_postgresql_client:
    command: "sudo yum install postgresql15 -y"
    ignoreErrors: true
